@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-fondo: #F3F5FC;
    --color-primario: #0A3871;
    --color-azulbajo: #D8DFE8;
    --color-blanco: #FFFFFF;

    --fuente-inetr: "Inter", sans-serif;
}

body {
    background-color: var(--color-fondo); 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo {
    margin-top: 40px;
    margin-left: 40px;
    width: 105px;
    height: 48px;
}

.contenido {
    display: flex;
    width: 100%;
    height: 100%;
}

.contenido__textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: var(--color-fondo);
    color: var(--color-primario);
    font-size: 32px;
    font-family: var(--fuente-inetr);
    width: 577px;
    height: 355px;
    margin-top: 104px;
    margin-left: 240px;
}
::placeholder {
    color: var(--color-primario);
}

.contenido__encrip-desencrip {
    background-color: var(--color-blanco);
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 183px;
    border-radius: 32px;
    width: 400px;
    height: 100%;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.contenido__encrip-desencrip__textarea {
    display: none; 

    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    border: none;
    outline: none;
    resize: none;
    width: 256px;
    height: 399px;
    font-size: 24px;
    font-family: var(--fuente-inetr);
    color: #495057;    
}

.contenido__botones__desencrip__muneco {
    margin-top: 95px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    

}

.contenido__encrip-desencrip__mensajes {
    justify-content: center;
    width: 100%;
    

}

.contenido__encrip-desencrip__mensajes h3 {
    text-align: center;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
    font-family: var(--fuente-inetr);
}

.contenido__encrip-desencrip__mensajes p {
    text-align: center;
    font-size: 16px;
    margin-left: 32px;
    margin-right: 32px;
    font-family: var(--fuente-inetr);
}

.contenido__copiar {
    display: none; 

    width: 256px;
    height: 67px;
    padding: 24px;
    text-align: center;
    color: var(--color-primario);
    font-size: 16px;
    font-family: var(--fuente-inetr);
    border-radius: 24px;
    border: solid  1px var(--color-primario);
    background-color: var(--color-blanco);
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.contenido__botones {
    position: absolute;
    top: 500px; 
    left: 240px; 
    right: 520px;
}

.contenido__botones2 {
    display: flex;
}

.contenido__botones p {
    font-size: 12px;
    font-family: var(--fuente-inetr);
    color: #495057;
}

.contenido__botones__encrip {
    border: none;
    width: 328px;
    height: 67px;
    padding: 24px;
    text-align: center;
    color: var(--color-blanco);
    font-size: 16px;
    font-family: var(--fuente-inetr);
    border-radius: 24px;
    background-color: var(--color-primario);
    margin-right: 24px;
}

.contenido__botones__desencrip {
    width: 328px;
    height: 67px;
    padding: 24px;
    text-align: center;
    color: var(--color-primario);
    font-size: 16px;
    font-family: var(--fuente-inetr);
    border-radius: 24px;
    border: solid  1px var(--color-primario);
    background-color: var(--color-azulbajo);
    margin-right: 24px;
}

/* Estilos específicos para tablets */
@media (min-width: 768px) and (max-width: 1200px) {

    body {
        overflow: auto;
    }

    .contenido {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-top: 73.42px;
        margin-left: 40px;
    }

    .contenido__textarea {
        width: 688px;
        height: 355px;
        margin-top: 116px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .contenido__botones p {
        width: 229px;
        height: 18px;
    }

    .contenido__botones {
        position: absolute;
        top: 610px; 
        left: 40px; 
        right: 520px;
        width: 688px;

    }

    .contenido__botones__encrip {
        width: 338px;
        height: 67px;
    }

    .contenido__botones__desencrip {
        width: 338px;
        height: 67px;
    }

    .contenido__encrip-desencrip {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        margin-left: 40px;
        margin-right: 40px;
        width: 688px;
        height: 133%;
    }

    .contenido__botones__desencrip__muneco {
        display: none;
    }

    .contenido__encrip-desencrip__mensajes p {
        margin-bottom: 32px;
    }

    .contenido__encrip-desencrip__textarea { 
        width: 624px;
        height: 179px;  
    }

    .contenido__copiar {
        width: 624px;
    }
}

/* Estilos específicos para telefono */
@media only screen and (max-width: 767px) {

    body {
        overflow: auto;
    }

    .contenido {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-top: 24px;
        margin-left: 24px;
    }

    .contenido__textarea {
        width: 343px;
        height: 355px;
        margin-top: 56px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .contenido__botones p {
        width: 229px;
        height: 18px;
    }

    .contenido__botones {
        position: absolute;
        top: 510px; 
        left: 16px; 
        right: 16px;
        width: 343px;
        height: 158px;

    }

    .contenido__botones2 {
        display: flex;
        flex-direction: column;
    }

    .contenido__botones__encrip {
        width: 343px;
        height: 67px;
        margin-bottom: 24px;
    }

    .contenido__botones__desencrip {
        width: 343px;
        height: 67px;
    }

    .contenido__encrip-desencrip {
        display: flex;
        flex-direction: column;
        margin-top: 320px;
        margin-left: 16px;
        margin-right: 16px;
        width: 343px;
        height: 595%;
    }

    .contenido__botones__desencrip__muneco {
        display: none;
    }

    .contenido__encrip-desencrip__mensajes p {
        margin-bottom: 32px;
    }

    .contenido__encrip-desencrip__textarea { 
        width: 279px;
        height: 179px;  
    }

    .contenido__copiar {
        width: 279px;
    }
}